@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="related-products-grid product-grid cx_related-products-grid">
        <div class="">
            <div class="col-xs-8">
                <h2 class="title cx_headline">
                    @T("Products.RelatedProducts")
                </h2>
            </div>
            <div class="col-xs-4"></div>
        </div>
        <div class="item-grid row pt-4 mx-n2 pb-5">
            @foreach (var item in Model)
            {
                <div class="item-box col-lg-3 col-md-4 col-sm-6 col-6 px-0 mb-4">@await Html.PartialAsync("_ProductBox", item)</div>
            }
        </div>
    </div>
}