@model ShoppingCartModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-shopping-cart-page");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync(typeof(CheckoutProgressViewComponent), new {step = CheckoutProgressStep.Cart})
}
<div class="page shopping-cart-page">
    <div class="page-title cx_page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1>@T("ShoppingCart")</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body container py-5">
        @await Component.InvokeAsync(typeof(OrderSummaryViewComponent), new { overriddenModel = Model})
    </div>
</div>
