<div class="container">
    <div class="cx_home-page-warranty">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="cx_box-warranty row">
                    <div class="col cx_box-warranty-item">
                            <span class="cx_icon-warranty icon-local_shipping"></span>
                            <h4 class="cx_title-warranty">
                                MIỄN PHÍ VẬN CHUYỂN
                            </h4>
                            <p class="cx_dsc-warranty">
                                Hóa đơn trên 800.000 VNĐ
                            </p>
                    </div>

                    <div class="col cx_box-warranty-item">
                        <span class="cx_icon-warranty icon-support_agent"></span>
                        <h4 class="cx_title-warranty">
                            HỖ TRỢ TƯ VẤN
                        </h4>
                        <p class="cx_dsc-warranty">
                            Hóa đơn trên 800.000 VNĐ
                        </p>
                    </div>
                    <div class="col cx_box-warranty-item">
                            <span class="cx_icon-warranty icon-360"></span>
                            <h4 class="cx_title-warranty">
                                Hoàn tiền sản phẩm
                            </h4>
                            <p class="cx_dsc-warranty">
                                LỖI DO NHÀ SẢN XUẤT
                            </p>
                    </div>
                    <div class="col cx_box-warranty-item">
                        <span class="cx_icon-warranty icon-warranty"></span>
                        <h4 class="cx_title-warranty">
                            SẢN PHẨM CHẤT LƯỢNG
                        </h4>
                        <p class="cx_dsc-warranty">
                            HƠN 1000 THƯƠNG HIỆU
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>