@model ProductDetailsModel
@if (Model.EmailAFriendEnabled)
{
    <div class="email-a-friend">
            <button type="button" class="button-2 email-a-friend-button btn btn-light" onclick="setLocation('@Url.RouteUrl("ProductEmailAFriend", new { productId = Model.Id })')" title="@T("Products.EmailAFriend")"><i class="icon-alternate_email"></i></button>
    </div>
}
