@model IList<ProductOverviewModel>
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.RecentlyViewedProducts").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-recently-viewed-products-page");
}
<div class="page recently-viewed-products-page">
    <div class="page-title">
        <h1>@T("Products.RecentlyViewedProducts")</h1>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {
            <div class="product-grid">
                <div class="item-grid row pt-4 mx-n2 pb-5">
                    @foreach (var product in Model)
                    {
                        <div class="item-box col-lg-3 col-md-4 col-sm-6 col-6 px-0 mb-4">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
