@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script asp-location="Footer">
        $(document).ready(function () {
            $('.cx_grid-msr').masonry({
                // options
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                stamp: '.stamp',
                gutter: 10,
                percentPosition: true
            });
        });
    </script>
    <div class="container">
    <div class="product-grid home-page-product-grid cx_home-page-product-grid">
        <div class="item-grid row pt-4 mx-n2 pb-5 cx_grid-msr">
            <div class="grid-sizer"></div>
            <div class="stamp cx_gird-featured-box px-0 mb-4">
                <figure class="cx_gird-featured-box-item">
                     <div class="picture"></div>
                    <figurecaption>
                        <h2 class="cx_headline">@T("Homepage.Products")</h2>
                        <a href="#" class="btn-link text-dark">View All</a>
                    </figurecaption>
                </figure>
            </div>       
            @foreach (var item in Model)
            {
                
                <div class="px-0 mb-4 grid-item">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
        </div>
    </div>
    </div>

}